
  <%= form_with(model: [ :administration, doctor ], local: true) do |f| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>
      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>

<div class="field">
  <%= f.label :Apellido %>
  <%= f.text_field :last_name, class: 'form-control',:maxlength => 100 %>
</div>
<br>
<div class="field">
  <%= f.label :Nombre %>
  <%= f.text_field :first_name, class: 'form-control',:maxlength => 100 %>
</div>
<br>
<div class="field">
  <%= f.label :Consultorio %>
  <%= f.text_field :consulting_room, class: 'form-control',:maxlength => 100 %>
</div>
<br>
<div class="field">
  <%= f.label :Especialidad %>
  <%= f.text_field :speciality, class: 'form-control',:maxlength => 100 %>
</div>
<br><br><center>
  <div class="actions">
  <%= f.submit "Aceptar", class: "btn btn-primary" %>

  </center></div>
<% end %>
</center>
