  <%= form_with(model: [ :administration, appointment ], local: true) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>


<br><center>

  <div class="field">   
    <%= f.label :doctor_id %>
    <%= f.text_field :doctor_id %> 
 </div>
    <div class="field">
  <%= f.label :Paciente %>
  <%= f.text_field :patient_id %>
  </div>
  <div class="field">
     <%= f.label :Fecha %>
      <%= f.text_field :date %>
  </div>
  <div class="field">
     <%= f.label :Motivo %>
     <%= f.text_field :reason %>
  </div>
  <div class="field">
     <%= f.label :Estado %>
     <%= f.text_field :state  %> 
<br><br>
  </div>
  <div class="actions">
    <%= f.submit 'Aceptar' %>
  </div>

<% end %>
</center>
