  <%= form_with(model: [ :administration, appointment ], local: true) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>


<br>
  <div class="field">   
    <%= f.label :doctor_id %>
    <%= f.text_field :doctor_id, class: 'form-control',:maxlength => 100 %> 
 </div>
    <div class="field">
  <%= f.label :Paciente %>
  <%= f.text_field :patient_id, class: 'form-control',:maxlength => 100 %>
  </div>
  <div class="field">
     <%= f.label :Fecha %>
      <%= f.text_field :date, class: 'form-control',:maxlength => 100 %>
  </div>
  <div class="field">
     <%= f.label :Motivo %>
     <%= f.text_field :reason, class: 'form-control',:maxlength => 100 %>
  </div>
  <div class="field">
     <%= f.label :Estado %>
     <%= f.text_field :state, class: 'form-control',:maxlength => 100  %> 
<br><br>
  </div><center>
  <div class="actions" >
  <%= f.submit "Aceptar", class: "btn btn-primary" %></center>

  </div>

<% end %>
