<h1>Turnos</h1>

<table border="3">
  <thead>
    <tr>
      <th><center><strong>Id de turno</center></strong></th>
      <th><center><strong>Paciente</center></strong></th>
      <th><center><strong>Doctor</center></strong></th>
      <th><center><strong>Fecha</center></strong></th>
      <th><center><strong>Motivo de la consulta medica</center></strong></th>
      <th><center><strong>Estado del turno</center></strong></th> 

      <th colspan="3"></th>
    </tr>
  </thead>

  
    <% @appointments.each do |appointment| %>
      <tr>
        <td><center><%=  appointment.id %></center></td>
        <td><center><%=  appointment.patient.last_name %></center></td>
        <td><center><%= appointment.doctor.last_name %></center></td>
        <td><center><%= appointment.date %></center></td>
        <td><center><%= appointment.reason %></center></td>
        <td><center><%= appointment.state %></center></td>
        <td><%= link_to 'Ver', administration_appointment_path(appointment) %></td>
        <td><%= link_to 'Modificar', edit_administration_appointment_path(appointment) %></td>
        <td><%= link_to 'Eliminar', administration_appointment_path(appointment), method: :delete, data: { confirm: 'Usted esta seguro?' } %></td>
      </tr>
    <% end %>
  
</table>

<br>
</center>